#bugtracker_main_area {
    top: 55px;
    position: absolute;
    left: 60px;
    right: 60px;
}
#bugtracker-head .caption {
    width: 100%;
    max-width: 100%;
}

#bugtracker_content { min-height: 700px; }

.progressbar .bar { height: 10px }

.bug_bar { display:inline-block }

.bug_bar .bar {
    height: 10px; 
    width: 100%
}

.markup-table { width: 100% }
.markup-table tr td {vertical-align: top}

.bugtable { width: auto }

.bugtable tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.bugtable .header-td { 
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px; 
}

.sync_results { display:inline-block }

.inline { display: inline; }

.version-row td { vertical-align: middle; }

.version-icon {
    height: 32px;
    margin-right: 15px;
}

.small-icon {height: 16px;}

.version-progress {
    width:200px;
    background-color: red; 
    background-image: none;
    margin: 0px;
}

.modal-body input, .modal-body textarea  {
    width: 90%;
}

h1:first-letter ,
h2:first-letter ,
h3:first-letter ,
h4:first-letter ,
label:first-letter ,
table th:first-letter {
    text-transform: uppercase;
}

#commentForm textarea {
    width: 100%;
    height: 75px;
}


#bugtracker_content table tbody tr td {
    vertical-align: top;
}

table.wide {
    width: 100%;
    table-layout: fixed;
}