- extends 'base.haml'
- load i18n
- load pagination_tags
- load url from future

- block extra_scripts
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ MEDIA_URL }}css/tulius-players.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ MEDIA_URL }}css/tulius-bugs.css'}
    
- block breadcrumbs
    %li
        .divider
        %a{href: '{% url "players:index" %}'}
            {% trans "Players" %}
    %li
        .divider
        %a{href: '{{ sel_user.profile.get_absolute_url }}'}
            = sel_user.username|capfirst
    %li
        .divider
        %a{href: ''}
            {% trans "Exceptions" %}

                
- block caption
    {% trans "Excptions of user:" %}
    = sel_user.username|capfirst
    
- block content
    - autopaginate exceptions 50
    %p
        {% trans "Here you can see all exceptions created by this user. "%}
        {% trans "Exceptions in most cases not mean a bug - it occure, for example, when access is blocked." %}
        {% trans "But every time it is a potential bug sitation, so, all information about occured exceptions is colleced here." %}
        {% trans "Its can be used by developers for bug investigation." %}    
    - paginate
    - include 'bugs/user_exceptions.haml'
    - paginate
    