{% for item in list %}
    {% if forloop.first %}
    {% else %}
    <li> 
        <div class="divider" ></div>
        <a href='{{ item.url }}'>
            {{ item.name|capfirst }}
        </a>
    </li>
    {% endif %}
{% endfor %}