- extends 'base.haml'
- load i18n

- block breadcrumbs
    %li
        .divider
        %a{href: ''}
            {% trans "Statistics" %}
            
- block caption
    {% trans "Statistics" %}
    
- block title
    {% trans "Statistics" %}
    
- block extra_scripts
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ MEDIA_URL }}css/tulius-stories.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}profiler/css/profiler.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ MEDIA_URL }}css/tulius-stats.css'}
    

- block content
    %form.form-inline{method: 'GET', 'action': ''}
        - csrf_token
        %label
           {% trans "Type" %}
        = form.graph_type
        %span#graphtype0{style: '{% if graph_type = 0 %}{% else %}display: None{% endif %}'}
            %label
               {% trans "Report" %}
            = form.linear_type
        %span#graphtype1{style: '{% if graph_type = 1 %}{% else %}display: None{% endif %}'}
            %label
               {% trans "Report" %}
            = form.linear_c_type
        %span#graphtype2{style: '{% if graph_type = 2 %}{% else %}display: None{% endif %}'}
            %label
               {% trans "Report" %}
            = form.sunlight_type
        %label
           {% trans "Period" %}
        = form.period
        %button.submit.btn.btn-small{type: 'submit'}
            {% trans "Show" %}
    - if graph_type = 0
        - with data=graph
            - include 'profiler/auditory.html'
    - if graph_type = 1
        - with data=graph
            - include 'profiler/collapsed_sum.html'
    - if graph_type = 2 
        #tabs
            %ul
                %li
                    %a{href: '#graph_page'}
                        %span
                            {% trans "Graph" %}
                %li
                    %a{href: '#table_page'}
                        %span
                            {% trans "Table" %}
            #graph_page
                <div id="{{ graph.id }}div" style="height:600px;width:100%; "></div>
            #table_page
                - include 'profiler/snippets/sunlight_table.html'
        - include 'profiler/snippets/sunlight_graph.html'
    <script>
        $('#tabs').tabs();
        $("#id_graph_type").change(function() {
            var v = $("#id_graph_type").val();
            $("#graphtype0").hide();
            $("#graphtype1").hide();
            $("#graphtype2").hide();
            $("#graphtype" + v).show();
        });
    </script>
    