-load i18n

- if talkings
    %table.messages-table.table
        %tbody
            - for talking in talkings
                %tr{class: '{% if talking.last.sender != request.user and not talking.last.is_read %}unread-talking{% endif %}'}
                    %td.messages-avatar.hidden-phone
                        - if talking.sender.avatar
                            %img{width: '50px', height: '50px', src: '{{ talking.sender.avatar.url }}'}
                    %td.messages-sender
                        %a{href: '{{ talking.sender.get_absolute_url }}'}
                            = talking.sender
                        %br
                        %small
                            = talking.last.created_at
                    %td
                        .messages-text
                            %a{href: '{{ talking.sender.get_absolute_url }}#pm_messages'}
                                = talking.last.body|safe|truncatewords:20 
- else
    %br
    {% trans "You have no messages yet" %}
    %br
    %br