- load i18n
- load url from future

%table.table
    %thead
        %tr
            %th
                {% trans "Story" %}
            %th
                {% trans "Action" %}
            %th
                {% trans "Genres" %}
    %tbody
        - for story in stories
            %tr
                %td.profile-gamelist
                    %a{href:'{% url "stories:story" story.id %}'}
                        = story
                %td
                    %a{href: '{{ story.get_edit_url }}'}
                        {% trans "edit" %}
                %td
                    - if story.genres.all
                        %ul.genres.unstyled
                            - for genre in story.genres.all
                                %li
                                    %a{href: '?filter_by_genre\={{ genre.id }}'}
                                        = genre.name