- load i18n

%table.table.forum-room-list
    %thead
        %tr
            %th{'width': '40'}
                &nbsp;
            %th 
                {% trans "room" %}
            %th.hidden-phone{'width': '80'} 
                {% trans "threads" %}
            %th.miniphone-hidden{'width': '80'}
                {% trans "posts" %}
            %th.miniphone-hidden{'width': '200'}
                {% trans "latest post" %}
    %tbody
        - for room in rooms
            %tr{'class': '{% if room.deleted %}deleted-thread{%endif%}'}
                %td.forum-post-icon
                    - with unreaded=room.unreaded
                        - if unreaded
                            %a{'href':'{{ unreaded.get_absolute_url }}'}
                                %img{src: '{{ MEDIA_URL }}forum/unreadedmark.gif'}
                        - else
                            %img{src: '{{ MEDIA_URL }}forum/readedmark.gif'}
                %td
                    .forum-post-description
                        %h4
                            %a{'href': '{{ room.get_absolute_url }}'}
                                = room.title
                        - if room.body
                            .description
                                = room.body|safe
                        - if room.accessed_users
                            %h6.moderators {% trans "Opened for" %}:
                            %ul.moderators
                                - for role in room.accessed_users
                                    - if role.show_in_character_list
                                        <li><a data-toggle="modal" href="#role{{ role.id }}">{{ role }}</a></li>
                                    - else
                                        <li>{{ role }}</li>
                %td.hidden-phone
                    = room.threads_count
                %td.miniphone-hidden
                    = room.comments_count
                %td.miniphone-hidden
                    - with comment=room.last_comment
                        - include 'gameforum/snippets/latest_post.haml'